<footer class="white-section" id="footer">
    <br>
      <br>
        <br>
    <div class="container-fluid">

      <a href="https://www.facebook.com/people/Komal-Soni/100050648141010/" style="text-decoration:none !important;">
        <i class="social-icon fab fa-facebook fa-2x"></i>
      </a>
      <a href="" style="text-decoration: none;">
        <i class="social-icon fab fa-twitter fa-2x"></i>
      </a>
      <a href="https://www.instagram.com/komalsoni502/" >
        <i class="social-icon fab fa-instagram fa-2x"></i>
      </a>
      <a href="https://www.linkedin.com/in/komal-kumari-7384a21b3/" >
        <i class="social-icon fab fa-linkedin fa-2x"></i>
      </a>
      <a href="https://github.com/komalsoni4" >
        <i class="social-icon fab fa-github fa-2x"></i>
      </a>
      <br>
      <br>
      <p class="f">Banking System made by Komal Soni</p>
      <br>
     
    </div>
</footer>