<div class="container-fluid">
      <div id="testimonial-carousel" class="carousel slide" data-ride="carousel" data-pause:"hover">
        <div class="carousel-inner">
          <div class="carousel-item active container-fluid">
            <h2 class="testimonial-text">24*7 Customer Service</h2>
            <img class="testimonial-image" src="https://www.aboutservices.us/wp-content/uploads/2017/03/ten-reasons-internet-banking_opt.jpg" alt="customerservice profile">
          </div>
          <div class="carousel-item container-fluid">
            <h2 class="testimonial-text">Low Interset Rate</h2>
            <img class="testimonial-image" src="static/images/banking.jpg" alt="banking">
          </div>
          <div class="carousel-item container-fluid">
            <h2 class="testimonial-text">Good People banking with</h2>
            <img class="testimonial-image" src="https://media.istockphoto.com/photos/bank-teller-serving-customer-over-retail-banking-service-counter-picture-id185261280?k=6&m=185261280&s=612x612&w=0&h=weQuKO7XhubELrUFnyuXlGvqx3OIesIImAqvs5HJq0w=" alt="banking">
          </div>
        </div>

        <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon arrow" aria-hidden="true"></span>
         
           
          </span>
        </a>

        <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon arrow" aria-hidden="true"></span>
         
            
          </span>
        </a>

      </div>
    </div>