 <section class="features">
   <div class="container-fluid ">

      <div class="row">

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-check-circle fa-4x"></i>
          <h3 class="feature-title">Do banking in just single click</h3>
          <p>Easy money transfer in one click</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-history fa-4x"></i>
          <h3 class="feature-title">Check your transaction history</h3>
          <p>We are providing your transaction details</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-users fa-4x"></i>
          <h3 class="feature-title">24*7 Customer Service</h3>
          <p>Send your money easily from anywhere</p>
        </div>
      </div>

    </div>
 </section>
 